<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/css/main.css" >
    <title>{% if title is defined %}
        {{ title }}
        {% else %}
        Is It Prime - Home
        {% endif %}
    </title>
</head>
<body>
    <div class="prime-app">
        <div class="prime-logo"><a href="/">Its So Prime</a></div>
        <div class="prime-menu">
            <p class=menuitem><a href="/isprime">Is It Prime</a></p>
            <p class=menuitem><a href="/rangeofprimes">Range of Primes</a></p>
            <p class=menuitem>Next 100 Primes</p>
        </div>
        <div class="prime-content">
            {% block content %}{% endblock %}
        </div>
        <div class="prime-footer"><p class="copyright">Fleming App Development &copy 2018</p></div>
    </div>
</body>
</html>